/*Fixes weird Windows based browser selection bug. Removed: causes issues with OSX browsers
*:not(input){
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}*/

.textBox {
    width: 200px;
    height: 100px;
    border:1px solid #ddd;
    z-index: 1;
    border-radius: 4px;
}

.tagsinput {
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.boxSelected {
    border:1px solid #134;
}

.boxDraggable {
    border:1px solid #5FAACF;
}

.textBoxTextArea {
    width: 90px;
}

.closeButton {
    top:0px;
    right:0px;
    display: none;
}

.dragButton {
    bottom:0px;
    left:0px;
    display: none;
}

.ui-menu { width: 200px; }

#content_wrapper {
    min-width:600px;
    padding-left:50px;
}

#paper_project_title {
    font: 40px arial, sans-serif;
    color: 00C6D4;
}

#paper_title {
    font: 40px arial, sans-serif;
    color: 00C6D4;
    width: 600px;
    padding: 5px;
}

.text_element {
    max-height: inherit;
    z-index: 1;
}

#main_nav {
    height:100%;
    width:50px;
    background:#151515;
    position:fixed;
}

#paper_canvas {
    padding: 5px;
}

#paper_toolbar {
    display: none;
}

#paper_tags_input_display_tagsinput {
    padding-left: 5px;
}