



.textBox {
    width: 200px;
    height: 100px;
    border:1px solid #000000;
    z-index: 1;
}

.textBoxTextArea {
    width: 90px;
}

.closeButton {
    top:0px;
    right:0px;
    display: none;
}

.dragButton {
    bottom:0px;
    left:0px;
    display: none;
}

.ui-menu { width: 200px; }

#content_wrapper {
    min-width:768px;
    padding-left:50px;
}

#paper_project_title {
    font: 40px arial, sans-serif;
    color: 00C6D4;
}

#paper_title {
    font: 40px arial, sans-serif;
    color: 00C6D4;
    width: 600px;
    padding: 5px;
}

.text_element {
    max-height: inherit;
    z-index: 1;
}

#main_nav {
    height:100%;
    width:50px;
    background:#151515;
    position:fixed;
}

#paper_canvas {
    padding: 5px;
}

#paper_toolbar {
    display: none;
}

#paper_tags_input_display_tagsinput {
    padding-left: 5px;
}