body {
   font-family: "HelveticaNeue-Light", 'century gothic', Arial, "Lucida Grande", sans-serif;
   background-color: #333;
   color:black;
   -webkit-backface-visibility: hidden;
   font-weight: 300;
}

.hidden{
    display:none;
}

#page-broadcast{
    width:250px;
    height:60px;
    position:fixed;
    float:right;
    top:30px;
    right:20px;
    opacity:0;
    z-index:1000;
}

#wrapper {
    width:100%;
    height:100%;
    position:absolute;
}

/*Nav + off canvas related CSS*/
#main-nav {
    height:100%;
    width:50px;
    background:#151515;
    position:fixed;
    z-index:999;
}

.alert {
    margin-bottom: 0;
}

#signin-btn{
    margin-top:10px;
}

.footer-elements {
    margin:0px 10px 0px 10px;
}

.modal-dialog {
    width:450px;
}
.modal-header {
    text-align:center;
    padding:10px 10px 10px 10px;
}
.modal-body {
    text-align:center;
    background:#505150;
    color:#606060;
    padding:20px 70px 20px 70px;
}
.modal-footer {
    margin-top:0;
    border-top:0;
    text-align:center;
    background:#404040;
}


#off-canvas-btn {
    background-color:#336BA3;
}
#off-canvas-toggle i {
    color:white;
}
#off-canvas-nav{
    position:fixed;
}
/*END Nav + off canvas*/

#main {
    /*min-width:1024px;*/
    padding-left:50px;
    color:white;
}

.section{
    width:100%;
    z-index:998;
    height:100%;
    overflow-y: auto;
}

#section-home {

}
#cover {
    width:100%;
    padding:0px 0px 0px 0px;
    display:inline-table;
    background: #336ba3;
    background: -moz-linear-gradient(top, #336ba3 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336ba3), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #336ba3 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #336ba3 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #336ba3 0%,#dddddd 100%);
    background: linear-gradient(to bottom, #336ba3 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336ba3', endColorstr='#dddddd',GradientType=0 );
}

#cover-contents{
    text-align:center;
}
#cover-left {
    text-align:center;
    margin:auto;
    width:600px;
}
#cover-text {
    color:#555;
}
#btn-start {
    width:300px;
}

.promotion-cell {
    display:table-cell;
}
#promotion-dash {
    padding:50px 90px 50px 90px;
    color:#555;
    width:100%;
    background-color:#ddd;
    display:table;
}
#promotion-paper {
    padding:50px 90px 50px 90px;
    color:#eee;
    width:100%;
    background-color:#336BA3;
    display:table;
}
#promotion-trio {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    height:300px;
}
#promotion-about {
    padding:50px 90px 50px 90px;
    background-color:white;
    color:#555;
    height:100%;
    text-align:center;
}
#promotion-git {
    padding:50px 90px 50px 90px;
    background-color:#6282A3;
    color:#eee;
    height:100%;
    text-align:center;
}
#promotion-team {
    color:#555;
    padding:50px 90px 50px 90px;
    background-color:white;
    height:100%;
    text-align:center;
}


.btn-paper {
    width:100%;
    margin-bottom: 3px;
}

#paper-templates-container {
    border-radius: 4px;
}

#cover-photo {
    width:500px;
    height:330px;
}

#search-menu {
    position: fixed;                /* fix the popout to the left side of the screen */
    top: 0px;
    right: -450px;                    /* use a negative margin to pull the icon area of the popout off the edge of the page */
    width: 450px;
    border: 1px solid gray;
    background-color:#336BA3;
    height:100%;
    z-index:999;
    text-align:center;
    padding:0px 10px 0px 10px;
    overflow-y: scroll;
    opacity:0.975;
}
#search-slide-up {
    font-size:35px;
}
#search-tag-input_tag {
    width:100%;
    margin:0px 0px 0px 0px;
}
#search-tag-submit {
    padding: 12px 10px 12px 10px;
}
#search-result-container {
    padding: 10px;
    background-color:#336BA3;
    color:#888;
    text-align:center;
}
#search-results {
    vertical-align:middle;
}
#search-empty-prompt {
    padding-top:200px;
    font-size:18px;
    opacity:0.55;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  background-image:    -moz-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  background-image:     -ms-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  background-image:      -o-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  border: 0;
  margin-top:8px;
  margin-bottom:8px;
}


#search-tag-input_tagsinput {
    margin: auto;
    overflow-y: hidden;
}
.tagsinput {
    border-radius: 4px;
}


#section-dashboard {
    width: 100%;
    background-color:#fff;
    color:black;
}
#section-dashboard i {
    padding:15px;
    color:#999;
}

#dashboard-container {

}
#paper-templates-container {
    color:black;
    border-style: solid;
    border-width: 1px;
    border-color: #DAE8F9;
    margin-right:276px;
    height:100%;
    overflow-y:scroll;
    display:inline-block;
    background-color:#eee;
}
#paper-templates-header {
    padding:5px 20px 0px 20px;
    margin-bottom:10px;
    color:white;
    background-color: #6282A3;
    display:table;
    width:100%;
}
#paper-templates-header-left {
    display:table-cell;
    text-align:left;
}
#paper-templates-header-right {
    display:table-cell;
    text-align:left;
}
#paper-templates {
    overflow-y:auto;
    background-color: transparent;
    text-align:center;
}
#paper-settings {
    background:#DAE8F9;
    width:276px;
    vertical-align: middle;
    margin:0px;
    height:100%;
    position:fixed;
    right:0;
    top:0;
    display:inline-block;
}
#paper-settings-inner {
    margin:0px;
}
#paper-settings-title-input {
    text-align:center;
    font-size:20px;
    font-weight:lighter;
}
.paper-settings-meta {
    font-size:12px;
}
#paper-settings-submit {
    margin-top: 20px;
}

#footer {
    text-align:center;
    padding:20px 20px 20px 20px;
    color: #999;
    color: rgba(255,255,255,.5);
}


/*Miscellaneous*/

#paper-settings-table {
    min-width:100%;
}
#paper-settings-table th {
    text-align:center;
}
#paper-settings-table td {
    text-align:center;
    padding:10px 5px 10px 5px;
}

/*Fixes weird Windows based browser selection bug. Removed: causes issues with OSX browsers
*:not(input){
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}*/