body {
    font-family: "HelveticaNeue-Light", 'century gothic', Arial, "Lucida Grande", sans-serif;
    -webkit-backface-visibility: hidden;
    font-weight: 200;
}

/*Fixes weird Windows based browser selection bug. Removed: causes issues with OSX browsers
*:not(input){
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}*/

.textBox {
    width: 200px;
    height: 100px;
    border:1px solid #ddd;
    z-index: 1;
    border-radius: 4px;
}

.tagsinput {
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.boxSelected {
    border:1px solid #134;
}

.boxDraggable {
    border:1px solid #5FAACF;
}

.textBoxTextArea {
    width: 90px;
}

.closeButton {
    top:0px;
    right:0px;
    display: none;
}

.dragButton {
    bottom:0px;
    left:0px;
    display: none;
}

.ui-menu { width: 200px; }

.option_disabled {
    color: #F00;
}
#content_wrapper {
    min-width:600px;
    padding-left:50px;
}

#paper_project_title {
    font: 40px arial, sans-serif;
    color: 00C6D4;
}

#paper_title {
    font: 40px arial, sans-serif;
    color: 00C6D4;
    width: 600px;
    padding: 5px;
}

.text_element {
    max-height: inherit;
    z-index: 1;
}

#main_nav {
    height:100%;
    width:50px;
    background:#151515;
    position:fixed;
    z-index:999;
}

#paper_canvas {
    padding: 5px;
}

#paper_toolbar {
    display: none;
}

#paper_tags_input_display_tagsinput {
    padding-left: 5px;
    margin: auto;
    overflow-y: hidden;
}

#history-menu {
    position: fixed;                /* fix the popout to the left side of the screen */
    top: 0px;
    left: -400px;                    /* use a negative margin to pull the icon area of the popout off the edge of the page */
    width: 400px;
    border: 1px solid gray;
    background-color:#336BA3;
    height:100%;
    z-index:998;
    text-align:center;
    padding:0px 10px 0px 10px;
    overflow: scroll;
    opacity:0.975;
    color:white;
}

#history-result-container {
    padding-top:30px;
    background-color:#336BA3;
    color:#888;
    text-align:center;
}

#history-empty-prompt {
    padding-top:200px;
    font-size:18px;
    opacity:0.55;
}


hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  background-image:    -moz-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  background-image:     -ms-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  background-image:      -o-linear-gradient(left, rgba(51,107,163,0.2), rgba(255,255,255,.5), rgba(51,107,163,0.2));
  border: 0;
  margin-top:8px;
  margin-bottom:8px;
}

::-webkit-scrollbar {
      width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.0);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius:25px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.2);
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */