<html>
<head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.multilevelpushmenu.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.tagsinput.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.min.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/index.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")"></script>
    <script src="//oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.multilevelpushmenu.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/smoothscroll.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tagsinput.min.js")"></script>
</head>

<body>

    <div id="page" class="pushobj">
        <div id="main_nav">
            <nav id="off_canvas_btn" class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="off_canvas_toggle" style="margin-top : 3px; margin-left:3px;" data-toggle="tooltip"><i class="fa fa-file-o fa-lg"></i></a></li>
                </ul>
            </nav>
            <nav class="navbar navbar-inverse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a  data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in fa-lg"></i></a></li>
                    <li><a id="nav_home" class="smoothScroll" href="#main_cover" data-toggle="tooltip"><i class="fa fa-home fa-lg"></i></a></li>
                    <li><a id="nav_search" class="smoothScroll" href="#search"><i class="fa fa-search fa-lg"></i></a></li>
                    <li><a id="nav_dashboard" class="smoothScroll" href="#dashboard"><i class="fa fa-th-large fa-lg"></i></a></li>
                </ul>
            </nav>
        </div>

        <div id="content_wrapper">
            <div id="main_cover" class="cover">
                <div id="cover_inner" class="inner">
                    <div id="cover_contents">
                        <h1 class="cover-heading"><i class="fa fa-file-o fa-5x"></i></h1>
                        <h1 class="cover-heading">Welcome to Paper</h1>
                        <p class="lead">Paper is an intuitive note taking web-app that allows you to create notes anywhere on the screen, tag your papers, and embed various forms of media to your notes.</p>
                        <p class="lead">
                            <a href="#search" id="btn_start" class="btn btn-lg btn-default smoothScroll">Get Started!</a>
                        </p>
                    </div>
                    <img id="cover_photo" src="@routes.Assets.at("stylesheets/images/get_started_paper.png")" alt="cover photo">
                </div>

            </div>

            <div id="search">
                <div id="search-inner" class="inner">
                    <div id="search_input_container">
                        <h2>Search Papers</h2>
                        <input type="text" class="form-control" id="search_tag_input">
                        <a id="search_tag_submit" class="btn btn-default">Search Papers</a>

                    </div>
                    <div id="search_result_container">
                        <a id="search_slide_up">^</a>
                        <div id="search_results">
                        </div>
                    </div>
                </div>
            </div>


            <div id="dashboard">
                <h2>Your Paper Dashboard</h2>
                <p>Click each paper for options</p>
                <div id="paper_container">
                    <div id="paper_settings" class="thumbnail">
                        <div id="paper_settings_inner" class="thumbnail">
                            <span id="paper_settings_id" data-id='' hidden></span>
                            <table id="paper_settings_table">
                                <tr>
                                    <th colspan="2">
                                        <input type="text" id="paper_settings_title_input" class="form-control" placeholder="Title">
                                    </th>
                                </tr>
                                <tr>
                                    <td>Created: </td>
                                    <td><span id="paper_settings_created" class="paper_settings_meta">---------------------</span></td>
                                </tr>
                                <tr>
                                    <td>Updated: </td>
                                    <td><span id="paper_settings_updated" class="paper_settings_meta">---------------------</span></td>
                                </tr>
                            </table>
                            <p>Tags</p>
                            <input type="text" id="paper_settings_tag_input" class="form-control" placeholder="add tags separated by spaces">
                            <a id='paper_settings_submit' class='btn btn-primary btn-paper' role='button'>Submit Changes</a>
                            <a id='paper_settings_duplicate' class='btn btn-primary btn-paper' role='button'>Duplicate</a>
                            <a id='paper_settings_delete' class='btn btn-danger btn-paper' role='button'>Delete</a>

                        </div>
                    </div>
                    <div id="paper_templates_container">
                        <div id="paper_templates"></div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>2014 CS4911 Team 8 Paper. Georgia Institute of Technology.</p>
            </div>

        </div>
    </div>

    <div id="off_canvas_nav"></div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title">Paper</h1>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="username">
                    <input type="password" class="form-control" placeholder="password">
                    <button id="signin_btn" type="button" class="btn btn-primary form-control">Sign in</button>
                </div>
                <div class="modal-footer">
                    <a class="footer-elements"><i class="fa fa-question-circle fa-1x"></i>Forgot Password</>
                    <a class="footer-elements"><i class="fa fa-pencil-square-o fa-1x"></i>Sign up</>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</body>
</html>