<html>
<head>
    <title>Team8Paper Home</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.multilevelpushmenu.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.tagsinput.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.min.css")"/>
</head>

<body>

    <div id="page" class="pushobj">
        <div id="main-nav">
            <nav id="off-canvas-btn" class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="off-canvas-toggle" style="margin-top : 3px; margin-left:3px;" data-toggle="tooltip"><i class="fa fa-file-o fa-lg"></i></a></li>
                </ul>
            </nav>
            <nav class="navbar navbar-inverse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="sign-in-nav" data-toggle="modal" data-target="#sign-in-modal"><i class="fa fa-sign-in fa-lg"></i></a></li>
                    <li><a id="sign-out-nav"><i class="fa fa-sign-out fa-lg"></i></a></li>
                </ul>

            </nav>
            <nav class="navbar navbar-inverse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="nav-home" class="smoothScroll" href="#main-cover" data-toggle="tooltip"><i class="fa fa-home fa-lg"></i></a></li>
                    <li><a id="nav-search" class="smoothScroll" href="#search"><i class="fa fa-search fa-lg"></i></a></li>
                    <li><a id="nav-dashboard" class="smoothScroll" href="#dashboard"><i class="fa fa-th-large fa-lg"></i></a></li>
                </ul>

            </nav>
        </div>

        <div id="content-wrapper">
            <div id="page-broadcast" class="alert alert-danger alert-dismissable" hidden>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</i></button>
                <div id="page-broadcast-content"></div>
            </div>
            <div id="main-cover" class="cover">
                <div id="cover-inner" class="inner">
                    <div id="cover-contents">
                        <div id="cover-header">
                            <a class="cover-header-link" href="">About</a>
                            <a class="cover-header-link" href="https://github.com/nanop/Team8Paper">GitHub</a>
                        </div>
                        <h1 class="cover-heading"><i class="fa fa-file-o fa-5x"></i></h1>
                        <h1 class="cover-heading">Team 8 Paper</h1>
                        <p class="lead">Team 8 Paper is an intuitive note taking web-app that allows you to create notes anywhere on the screen, tag your papers, and embed various forms of media to your notes.</p>
                        <p class="lead">
                            <a href="/paper" id="btn-start" class="btn btn-lg btn-default">Create New Paper</a>
                        </p>
                    </div>
                    <img id="cover-photo" src="@routes.Assets.at("stylesheets/images/get_started_paper.png")" alt="cover photo">
                </div>

            </div>

            <div id="search">
                <div id="search-inner" class="inner">
                    <div id="search-input-container">
                        <h2>Search Papers</h2>
                        <input type="text" class="form-control" id="search-tag-input">
                        <a id="search-tag-submit" class="btn btn-default">Search Papers</a>

                    </div>

                    <div id="search-result-container">
                        <a id="search-slide-up">^</a>
                        <div id="search-results">
                        </div>
                    </div>
                </div>
            </div>


            <div id="dashboard">
                <h2>Your Paper Dashboard</h2>
                <p>Click each paper for options</p>
                <a href="/paper" style="margin-bottom:20px" class="btn btn-primary">Create New Paper</a>

                <div id="paper-container">
                    <div id="paper-settings" class="thumbnail">
                        <div id="paper-settings-inner" class="thumbnail">
                            <span id="paper-settings-id" data-id='' hidden></span>
                            <table id="paper-settings-table">
                                <tr>
                                    <th colspan="2">
                                        <input type="text" id="paper-settings-title-input" class="form-control" placeholder="Title">
                                    </th>
                                </tr>
                                <tr>
                                    <td>Modified: </td>
                                    <td><span id="paper-settings-updated" class="paper-settings-meta">---------------------</span></td>
                                </tr>
                                <tr>
                                    <td>Created: </td>
                                    <td><span id="paper-settings-created" class="paper-settings-meta">---------------------</span></td>
                                </tr>
                            </table>
                            <p>Tags</p>
                            <input type="text" id="paper-settings-tag-input" class="form-control" placeholder="add tags separated by spaces">
                            <a id='paper-settings-submit' class='btn btn-primary btn-paper' role='button'>Submit Changes</a>
                            <a id='paper-settings-duplicate' class='btn btn-primary btn-paper' role='button'>Duplicate</a>
                            <a id='paper-settings-delete' class='btn btn-danger btn-paper' role='button'>Delete</a>

                        </div>
                    </div>
                    <div id="paper-templates-container">
                        <div id="paper-templates"></div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>2014 CS4911 Team 8 Paper. Georgia Institute of Technology.</p>
            </div>

        </div>
    </div>

    <div id="off-canvas-nav"></div>

    <div id="sign-in-modal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title">Paper</h1>
                </div>
                <div class="modal-body">
                    <div id="sign-in">
                        <div id="sign-in-error" class="alert alert-danger" hidden>
                        </div>
                        <div id="sign-in-success" class="alert alert-success" hidden>
                        </div>
                        <input id="sign-in-username" type="text" class="form-control" placeholder="username">
                        <input id="sign-in-password" type="password" class="form-control" placeholder="password">
                        <input id="sign-in-submit" class="btn btn-primary form-control" value="Sign in">
                    </div>
                    <div id="sign-up" hidden>
                        <div id="sign-up-error" class="alert alert-danger" hidden>
                        </div>
                        <input id="sign-up-username" type="text" class="form-control" placeholder="username">
                        <input id="sign-up-password" type="password" class="form-control" placeholder="password">
                        <input id="sign-up-password-confirm" type="password" class="form-control" placeholder="confirm password">
                        <input id="sign-up-submit" class="btn btn-primary form-control" value="Submit">
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="sign-in-footer">
                        <a id="forgot-password-footer" class="footer-elements"><i class="fa fa-question-circle fa-1x"></i>Forgot Password</a>
                        <a id="sign-up-link" class="footer-elements"><i class="fa fa-pencil-square-o fa-1x"></i>Sign up</a>
                    </div>
                    <div id="sign-up-footer" hidden>
                        <a id="sign-in-link" class="footer-elements"><i class="fa fa-pencil-square-o fa-1x"></i>Sign in</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")"></script>
  <script src="//oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.multilevelpushmenu.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/smoothscroll.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tagsinput.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/index.min.js")"></script>
</body>
</html>