<html>
<head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")"></link>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"></link>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.multilevelpushmenu.css")"/></link>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.contextMenu.css")"></link>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.css")"></link>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/index.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")"></script>
    <script src="//oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.multilevelpushmenu.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/smoothscroll.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.contextMenu.js")"></script>
</head>

<body>

    <div id="page" class="pushobj">
        <div id="main_nav">
            <nav id="off_canvas_btn" class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="off_canvas_toggle" data-toggle="tooltip"><i class="fa fa-file-o fa-lg"></i></a></li>
                </ul>
            </nav>
            <nav class="navbar navbar-inverse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a id="nav_home" class="smoothScroll" href="#main_cover" data-toggle="tooltip"><i class="fa fa-home fa-lg"></i></a></li>
                    <li><a id="nav_search" class="smoothScroll" href="#search"><i class="fa fa-search fa-lg"></i></a></li>
                    <li><a id="nav_dashboard" class="smoothScroll" href="#dashboard"><i class="fa fa-th-large fa-lg"></i></a></li>
                </ul>
            </nav>
        </div>

        <div id="content_wrapper">
            <div id="main_cover" class="cover">
                <div class="inner">
                    <h1 class="cover-heading"><i class="fa fa-file-o fa-5x"></i></h1>
                    <h1 class="cover-heading">Welcome to Paper</h1>
                    <p class="lead">Paper is an intuitive note taking web-app that allows you to create notes anywhere on the screen, tag your papers, and embed various forms of media to your notes.</p>
                    <p class="lead">
                        <a href="#search" id="btn_start" class="btn btn-lg btn-default smoothScroll">Get Started!</a>
                    </p>
                </div>
            </div>

            <div id="search">
                <div class="inner">
                    <h2>Search Papers</h2>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Papers by tags">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Search My Papers</a></li>
                                <li><a href="#">Search Public Papers</a></li>
                                <li class="divider"></li>
                                <li><a href="http://www.bit.ly/1g9PM6p">Do You Dare?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dashboard">
                <h2>Your Paper Dashboard</h2>
                <p>Right-click each paper for options</p>
                <div id="paper_container">
                    <div id="paper_settings" class="thumbnail">
                        <div id="paper_settings_inner" class="thumbnail">
                            <span id="paper_settings_id" data-id='' hidden></span>
                            <table id="paper_settings_table">
                                <tr>
                                    <th colspan="2">
                                        <input type="text" id="paper_settings_title_input" class="form-control" placeholder="Title">
                                    </th>
                                </tr>
                                <tr>
                                    <td>Created: </td>
                                    <td><span id="paper_settings_created" class="paper_settings_meta">---------------------</span></td>
                                </tr>
                                <tr>
                                    <td>Updated: </td>
                                    <td><span id="paper_settings_updated" class="paper_settings_meta">---------------------</span></td>
                                </tr>
                                <tr>
                                    <td>Tags: </td>
                                    <td><span id="paper_settings_tags" class="paper_settings_meta">---------------------</span></td>
                                </tr>
                            </table>
                            <p>Add tags</p>
                            <input type="text" id="paper_settings_tag_input" class="form-control" placeholder="add tags separated by spaces">
                            <a style='width:100%' id='paper_settings_submit' class='btn btn-primary' role='button'>Submit Changes</a>
                        </div>
                    </div>
                    <div id="paper_templates_container">
                        <div id="paper_templates"></div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>2014 CS4911 Team 8 Paper. Georgia Institute of Technology.</p>
            </div>

        </div>
    </div>

    <div id="off_canvas_nav"></div>


</body>
</html>