@(json : play.api.libs.json.JsValue)
<!DOCTYPE html>
<html>

<head>
    <title>Team8Paper</title>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.multilevelpushmenu.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.tagsinput.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/froala_editor.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.contextMenu.css")"/>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.ui.position.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.contextMenu.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.multilevelpushmenu.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/smoothscroll.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/froala_editor.min.js")"></script>
</head>
<body>
<script>
    var data = @Html(play.api.libs.json.Json.stringify(json));

</script>
<div id ="paper_page" class="pushobj">
    <div id="main_nav">
        <nav class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a id="nav_home" href="/" data-toggle="tooltip"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a id="nav_search" href="/#search"><i class="fa fa-search fa-lg"></i></a></li>
                <li><a id="nav_dashboard" href="/#dashboard"><i class="fa fa-th-large fa-lg"></i></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a id="nav_history"><i class="fa fa-clock-o fa-lg"></i></a></li>
            </ul>
        </nav>

        <nav id = "options_toolbar" class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a id="paper_create_new_group" title="Click to disable creation of new groups"><i class="fa fa-ban fa-lg"></i></a></li>
                <li><a id="paper_delete_all_groups" data-toggle="modal" data-target="#delete-all-groups-modal" title="Click to delete all groups"><i class="fa fa-trash-o fa-lg"></i></a></li>
            </ul>
        </nav>

        <nav id = "paper_toolbar" class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a id="paper_draggable_group" title="Click to toggle draggable group"><i class="fa fa-arrows fa-lg"></i></a></li>
                <li><a id="paper_add_image" data-toggle="modal" data-target="#insert-picture-url-modal" title="Click to add image group"><i class="fa fa-picture-o fa-lg"></i></a></li>
                <li><a id="paper_remove_group" title="Click to remove selected group"><i class="fa fa-times fa-lg"></i></a></li>
                <li><a id="off-canvas-toggle" title="Click to view elements in selected group" style="margin-top : 3px; margin-left:3px;" data-toggle="tooltip"><i class="fa fa-file-o fa-lg"></i></a></li>
            </ul>
        </nav>
    </div>
    <div id="content_wrapper">
        <div contenteditable data-name="title" id="paper_title"></div>
        <input type="text" id="paper_tags_input_display" class="form-control" placeholder="add tags separated by spaces">
        <div id="paper_canvas">

        </div>
        <div id="history-menu" class="offscreen">
            <div id="search-inner">
                <div id="search-input-container">
                    <h3>Team8Paper History</h3>

                </div>

                <div id="search-result-container">
                    <a id="search-slide-up">^</a>
                    <div id="search-results"></div>

                </div>
                <div id="search-empty-prompt">
                    <i class="fa fa-search fa-3x"></i>
                    <p>Search</br> for your papers with one or more tags</p>
                </div>

            </div>
        </div>
    </div>

    <div id="insert-picture-url-modal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title">Add Image URL</h1>
                </div>
                <div class="modal-body">
                    <div id="image-url">
                        <div id="image-url-error" class="alert alert-danger" hidden>
                        </div>
                        <input id="image-url-text" type="text" class="form-control" placeholder="Image URL">
                        <br>
                        <input id="image-url-height" type="text" class="form-control" placeholder="Image Width (Blank means default)">
                        <br>
                        <input id="image-url-submit" class="btn btn-primary form-control" value="Add Image">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="delete-all-groups-modal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Confirm Deletion of All Groups</h3>
                </div>
                <div class="modal-body">
                    <input id="cancel-group-deletion" class="btn btn-primary form-control" value="Cancel">
                    <br>
                    <input id="confirm-mass-group-deletion" class="btn btn-danger form-control" value="Yes Delete All Groups">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


  <script type="text/javascript" src="@routes.Assets.at("javascripts/scripts.min.js")"></script>

</body>
</html>